<ul>
  <%= for %{item: item} <- @todo_items do %>
    <li><%= item %></li>
  <% end %>
</ul>
<form phx-submit="add_todo">
  <label>To do:<input name="todo" /></label>
  <button type="submit">Add item</button>
</form>
